@using Entities.Entities
@model CRM.ViewModels.ServiciosViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Agregar Servicio";
    string[] items = new string[] { "Servicios", "Agregar Servicio" };
}

@{
    var op = ViewData["TiposMoneda"];
    IEnumerable<TipoMoneda> tiOptions = op as IEnumerable<TipoMoneda>;

    var tp = ViewData["TiposPlan"];
    IEnumerable<TipoPlan> tpOptions = tp as IEnumerable<TipoPlan>;


}

<div class="pt-16 lg:pl-64 pl-0 bg-white dark:bg-gray-900">
    <div class="p-4 pt-40 sm:ml-64">
        <div class="p-1">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    @HtmlElement.TailwindBreadCrumb(Html, items)
                </ol>
            </nav>
            <br />
            <div class="p-1">
                <div class="mt-3 grid grid-cols-12 mb-3">
                    <div class="col-span-12 lg:col-span-6">
                        <div class="bg-gray-100 dark:bg-gray-800 p-6 rounded-lg shadow-lg">
                            <h5 class="text-xl font-bold mb-4 dark:text-white">Agregar Nuevo Servicio</h5>
                            <hr class="h-px my-2 bg-gray-400 border-0 dark:bg-gray-100">
                            <form action="AgregarServicio" method="POST" class="p-4 md:p-5">
                                <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-2">
                                    <div class="col-span-1">
                                        <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                            Nombre
                                        </div>
                                        @Html.TextBoxFor(model => model.Nombre, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Nombre del Servicio",required="required" })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-red-600 dark:text-red-500" })
                                        <span asp-validation-for="Nombre" class="text-red-600"></span>
                                    </div>

                                    <div class="col-span-1">
                                        <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                            Monto
                                        </div>
                                        @Html.TextBoxFor(model => model.Monto, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Nombre del Servicio", required = "required" })
                                        <span asp-validation-for="Nombre" class="text-red-600"></span>
                                    </div>
                                </div>

                                <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-4">
                                   

                                    <div class="col-span-1">
                                        <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                            Tipo Moneda
                                        </div>
                                        @if (tiOptions != null)
                                        {
                                            @Html.DropDownListFor(
                                                model => model.IdMoneda,
                                                new SelectList(tiOptions, "IdTipoMoneda", "Nombre"),
                                                "Seleccione un Tipo",
                                                new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required = "required" }
                                            )
                                        }
                                        else
                                        {
                                            <span class="text-red-600">Debe seleccionar un tipo de Moneda</span>
                                        }
                                        <span asp-validation-for="IdMoneda" class="text-red-600"></span>
                                    </div>

                                    <div class="col-span-1">
                                        <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                            Moneda
                                        </div>
                                        @Html.TextBoxFor(model => model.IdMoneda, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Moneda", required = "required" })
                                        <span asp-validation-for="Nombre" class="text-red-600"></span>
                                    </div>

                                   

                                    @* <div class="col-span-2">
                                        <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                            Servicio
                                        </div>
                                        @if (options != null)
                                        {
                                            @Html.DropDownListFor(
                                                model => model.IdTipoMoneda,
                                                new SelectList(options, "IdTipoMoneda", "Nombre"),
                                                "--Seleccione--",
                                                new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required = "required" }
                                            )
                                        }
                                        else
                                        {
                                            <span class="text-red-600">Debe seleccionar un tipo de Moneda</span>
                                        }
                                        <span asp-validation-for="IdTipoMoneda" class="text-red-600"></span>
                                    </div> *@
                                </div>

                                <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-1">
                                    <div class="mt-4">
                                        @HtmlElement.Button(Html, "green", "Registrar", "", "submit", "fa-solid fa-plus", "", "")
                                        @HtmlElement.ActionLink(Html, "gray", "Regresar al listado", "Index", "Servicio", "fa-solid fa-undo", "")
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







