@using Entities.Entities
@model CRM.ViewModels.ClienteViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Cliente";
    string[] items = new string[] { "Clientes", "Editar Cliente" };
}

@{
    var op = ViewData["TiposIdentificacion"];
    IEnumerable<TipoIdentificacion> options = op as IEnumerable<TipoIdentificacion>;

}

<div class="pt-16 lg:pl-64 pl-0 bg-white dark:bg-gray-900">
    <div class="p-4 pt-40 sm:ml-64">
        <div class="p-1">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    @HtmlElement.TailwindBreadCrumb(Html, items)
                </ol>
            </nav>
            <br />
            <div class="p-1">
                <div class="mt-3 grid grid-cols-12 mb-3">
                    <div class="col-span-12 lg:col-span-6">
                        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
                            <h5 class="text-xl font-bold mb-4 dark:text-white">Editar Cliente</h5>
                            @if (ViewData["NoItemById"] != null)
                            {
                                @HtmlElement.TailwindAlert(Html, "Advertencia", ViewData["NoItemById"].ToString(), "yellow", "fa-solid fa fa-exclamation-triangle", "")
                            }
                            @if(Model.IdCliente != 0)
                            {
                                <form asp-action="EditarCliente" class="p-4 md:p-5">
                                    <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-2">
                                        <div hidden class="col-span-1">
                                            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                                IdCliente
                                            </div>
                                            @Html.TextBoxFor(model => model.IdCliente, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "IdCliente"})
                                            @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-red-600 dark:text-red-500" })
                                            <span asp-validation-for="IdCliente" class="text-red-600"></span>
                                        </div>

                                        <div class="col-span-1">
                                            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                                Nombre
                                            </div>
                                            @Html.TextBoxFor(model => model.Nombre, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Nombre del Cliente", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-red-600 dark:text-red-500" })
                                            <span asp-validation-for="Nombre" class="text-red-600"></span>
                                        </div>

                                        <div class="col-span-1">
                                            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                                Correo
                                            </div>
                                            @Html.TextBoxFor(model => model.Correo, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Nombre del Cliente", required = "required" })
                                            <span asp-validation-for="Nombre" class="text-red-600"></span>
                                        </div>
                                    </div>

                                    <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-4">
                                        <div class="col-span-1">
                                            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                                Teléfono
                                            </div>
                                            @Html.TextBoxFor(model => model.Telefono, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Correo", required = "required" })
                                            <span asp-validation-for="Nombre" class="text-red-600"></span>
                                        </div>

                                        <div class="col-span-1">
                                            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                                Celular
                                            </div>
                                            @Html.TextBoxFor(model => model.Celular, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Celular", required = "required" })
                                            <span asp-validation-for="Nombre" class="text-red-600"></span>
                                        </div>

                                        <div class="col-span-1">
                                            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                                Tipo Identificación
                                            </div>
                                            @if (options != null)
                                            {
                                                @Html.DropDownListFor(
                                                         model => model.IdTipoIdentificacion,
                                                         new SelectList(options, "IdTipoIdentificacion", "Nombre"),
                                                         "Seleccione un Tipo",
                                                         new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required = "required" }
                                                         )
                                            }
                                            else
                                            {
                                                <span class="text-red-600">Debe seleccionar un tipo de identificación</span>
                                            }
                                            <span asp-validation-for="IdTipoIdentificacion" class="text-red-600"></span>
                                        </div>

                                        <div class="col-span-1">
                                            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
                                                Identificación
                                            </div>
                                            @Html.TextBoxFor(model => model.Identificacion, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder = "Identificación", required = "required" })
                                            <span asp-validation-for="Nombre" class="text-red-600"></span>
                                        </div>
                                    </div>

                                    <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-1">
                                        <div class="mt-4">
                                            @HtmlElement.Button(Html, "blue", "Actualizar", "", "submit", "fa-solid fa-pencil", "", "")
                                            @HtmlElement.ActionLink(Html, "gray", "Regresar al listado", "Index", "Cliente", "fa-solid fa-undo", "")
                                        </div>
                                    </div>
                                </form>

                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







